#https://eruditosit.wordpress.com/2015/01/27/git-gitignore-para-projectos-java-maven-eclipse/

# Eclipse IDE: Archivos de configuracion
.classpath
.project
.settings/
 
# Maven: Archivos compilados
target/
 
# Netbeans: Archivos de configuracion
nbactions.xml

#https://stackoverflow.com/questions/2586097/what-should-be-in-gitignore-file-for-a-netbeans-java-project

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear